

{% paginate search.results by 10 %}

  <h1>
    {% if search.performed %}
      {% if search.results_count == 0 %}
        {{ 'general.search.no_results_html' | t: terms: search.terms }}
      {% else %}
        {{ 'general.search.results_for_html' | t: terms: search.terms }}
      {% endif %}
    {% else %}
      {{ 'general.search.title' | t }}
    {% endif %}
  </h1>

  <form class="form-inline" action="/search" method="get" role="search">
    <label for="Search" class="label-hidden">
      {{ 'general.search.placeholder' | t }}
    </label>
    <input type="search"
           class="form-control" 
           name="q"
           id="Search"
           value="{{ search.terms | escape }}"
           placeholder="{{ 'general.search.placeholder' | t }}">
    <button type="submit" class="btn btn-outline-success">
      {% include 'icon-search' %}
      <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
    </button>
    <div class="container spacer20"></div>
  </form>


  {% if search.performed %}
    <div class="EndlessScroll row">
      {% for item in search.results %}
        <div class="product-snippet col-lg-2 col-md-4 col-sm-6">
          <a href="{{ item.url | within: collection }}">
            {% if item.featured_image != blank %}
              <div class="reveal product-image">
                {{ item.featured_image.src | img_url: '480x480' | img_tag: item.title }}
                <img class="hidden" src="{{ item.images[1] | product_img_url: 'large' }}" alt="{{ item.images[1].alt | escape }}" />
              </div>
            {% endif %}

            <h4>{{ item.title }}</h4>

            <p>
              {% if item.compare_at_price > item.price %}

                {%- assign sale_price = item.price | money -%}
                {%- assign reg_price = item.compare_at_price | money -%}
                {% if available %}
                  {% if item.price_varies %}
                    From {{ item.price_min | money }} to {{ item.price_max | money }} 
                  {% else %}
                    {{ 'products.item.on_sale' | t }}
                    <span class="reg-sale">{{ sale_price | money }}</span>
                    <span class="on-sale">{{ sale_price | money }}</span>
                  {% endif %}
                {% else %}
                  {% comment %} {{ 'products.item.sold_out' | t }} {% endcomment %}
                  {% if item.price_varies %}
                    From {{ item.price_min | money }} to {{ item.price_max | money }} 
                  {% else %}
                    {{ 'products.item.on_sale' | t }}
                    <span class="reg-sale">{{ sale_price | money }}</span>
                    <span class="on-sale">{{ sale_price | money }}</span>
                  {% endif %}
                {% endif %}

              {% else %}

                {% if available %}
                  {% if item.price_varies %}
                    From {{ item.price_min | money }} to {{ item.price_max | money }} 
                  {% else %}
                    {{ item.price | money }}
                  {% endif %}
                {% else %}
                  {% comment %} {{ 'products.item.sold_out' | t }} {% endcomment %}
                  {% if item.price_varies %}
                    From {{ item.price_min | money }} to {{ item.price_max | money }} 
                  {% else %}
                    {{ item.price | money }}
                  {% endif %}
                {% endif %}

              {% endif %}
            </p>
          </a>
        </div>
      {% endfor %}
  {% endif %}
  
  {% if paginate.next %}
    <div class="pagination justify-content-center">
      <p>&nbsp;</p>
      <a href="{{ paginate.next.url }}"><i class="bts bt-spinner bt-pulse"></i></a>
    </div>
    <!-- <div id="more"><p>&darr; <a href="{{ paginate.next.url }}">More</a></p></div> -->
  {% endif %}
  </div>
  
{% endpaginate %}

