<!-- <div class="pagination nav text-center">
  {{ paginate | default_pagination }}
</div> -->

<div class="spacer40"></div>

<nav class="d-flex" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if paginate.previous %}
          <a class="page-link" href="{{ paginate.previous.url }}" rel="previous"><i class="btb bt-arrow-left"></i></a>
        {% else %}
          <a class="page-link disabled" href="#" rel="previous"><i class="btb bt-arrow-left"></i></a>
        {% endif %}
      </li>

      {% for part in paginate.parts %}
        {% if part.is_link %}
          <li class="page-item">
            <a class="page-link" href="{{ part.url }}" title="">{{ part.title }}</a>
          </li>
        {% else %}
          {% if part.title == paginate.current_page %}
            <li class="page-item active"><a class="page-link disabled" href="#">{{ part.title }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link disabled" href="#">{{ part.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <li class="page-item">
        {% if paginate.next %}
          <a class="page-link" href="{{ paginate.next.url }}" rel="next"><i class="btb bt-arrow-right"></i></a>
        {% else %}
          <a class="page-link disabled" href="#" rel="next"><i class="btb bt-arrow-right"></i></a>
        {% endif %}
      </li>
    </ul>
</nav>

<div class="spacer40"></div>