{% if section.settings.title != blank %}
  <h2 class="pad15">{{ section.settings.title | escape }}</h2>
{% endif %}
{% if section.settings.description != blank %}
  <p class="pad15">{{ section.settings.description | escape }}</p>
{% endif %}

{%- assign collection = collections[section.settings.collection] -%}

<div class="featured-collection container-fluid">
  <div class="row justify-content-center">
    <div class="featured-products-slider col-12">
      {% for product in collection.products limit: 6 %}
        <div class="featured-product">
          <a href="{{ product.url | within: collection }}">
            {% if product.featured_image != blank %}
              <div class="reveal product-image">
                {{ product.featured_image.src | img_url: '480x480' | img_tag: product.title }}
                <img class="hidden" src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{ product.images[1].alt | escape }}" />
              </div>
            {% endif %}

            <h5>{{ product.title }}</h5>

            <p>
              {% if product.compare_at_price > product.price %}

                {%- assign sale_price = product.price | money -%}
                {%- assign reg_price = product.compare_at_price | money -%}
                {% if available %}
                  {% if product.price_varies %}
                    From {{ product.price_min | money }} to {{ product.price_max | money }} 
                  {% else %}
                    {{ 'products.product.on_sale' | t }}
                    <span class="reg-sale">{{ sale_price | money }}</span>
                    <span class="on-sale">{{ sale_price | money }}</span>
                  {% endif %}
                {% else %}
                  {% comment %} {{ 'products.product.sold_out' | t }} {% endcomment %}
                  {% if product.price_varies %}
                    From {{ product.price_min | money }} to {{ product.price_max | money }} 
                  {% else %}
                    {{ 'products.product.on_sale' | t }}
                    <span class="reg-sale">{{ sale_price | money }}</span>
                    <span class="on-sale">{{ sale_price | money }}</span>
                  {% endif %}
                {% endif %}

              {% else %}

                {% if available %}
                  {% if product.price_varies %}
                    From {{ product.price_min | money }} to {{ product.price_max | money }} 
                  {% else %}
                    {{ product.price | money }}
                  {% endif %}
                {% else %}
                  {% comment %} {{ 'products.product.sold_out' | t }} {% endcomment %}
                  {% if product.price_varies %}
                    From {{ product.price_min | money }} to {{ product.price_max | money }} 
                  {% else %}
                    {{ product.price | money }}
                  {% endif %}
                {% endif %}

              {% endif %}
            </p>
          </a>
        </div>
      {% else %}

      {% for i in (1..6) %}
        <a href="#">
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

          <p>
            {{ 'homepage.onboarding.product_title' | t }}
          </p>
        </a>

        <p>{{ 1999 | money }}</p>
      {% endfor %}

      {% endfor %}

      <div class="featured-product justify-content-center text-center">
        <div class="spacer80"></div>
        <!-- <a href="{{ collection.url }}" class="align-center"><h3><i class="btb bt-search"></i></h3></a> -->

        <a href="{{ collection.url }}" class="btn btn-outline-success align-center"><i class="btb bt-search"></i><br />See All</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "Lorem ipsum..."
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
