{% if section.settings.title != blank %}
  <h2 class="pad15">{{ section.settings.title | escape }}</h2>
{% endif %}

{%- assign collection = collections[section.settings.collection] -%}

<div class="featured-collection container-fluid">
  <div class="row justify-content-center">
    <div class="featured-products-slider col-12">
      
      {% for product in collection.products limit: 6 %}
        <div class="featured-product">
          <a href="{{ product.url | within: collection }}" class="product-image">
            {% if product.featured_image != blank %}
              <div class="reveal">
                {{ product.featured_image.src | img_url: '480x480' | img_tag: product.title }}
                <img class="hidden" src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{ product.images[1].alt | escape }}" />
              </div>
            {% endif %}
          </a>

          <a href="{{ product.url | within: collection }}" class="product-title">
            <h5>{{ product.title }}</h5>
          </a>

          <p>
            {% if product.compare_at_price > product.price %}

              {% if product.price_varies %}
                {%- assign sale_price = product.price | money -%}
                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
              {% else %}
                {{ 'products.product.on_sale' | t }}
                {{ product.price | money }}
              {% endif %}

            {% else %}

              {% if product.price_varies %}
                {%- assign price = product.price | money -%}
                {{ 'products.product.from_text_html' | t: price: price }}
              {% else %}
                {{ product.price | money }}
              {% endif %}

            {% endif %}
          </p>
        </div>
      {% else %}

      {% for i in (1..6) %}
        <a href="#">
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

          <p>
            {{ 'homepage.onboarding.product_title' | t }}
          </p>
        </a>

        <p>{{ 1999 | money }}</p>
      {% endfor %}

      {% endfor %}

      <div class="featured-product justify-content-center text-center">
        <div class="spacer40"></div>
        <a href="{{ collection.url }}" class="align-center"><h3><i class="btb bt-search"></i></h3></a>

        <a href="{{ collection.url }}" class="btn btn-outline-success align-center">See All<br />{{ section.settings.title | escape }}</a>
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
