<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Zoom Script -->
  <script src="{{ 'jquery.fancybox.js' | asset_url }}"></script>
  <script src="{{ 'jquery.fancybox-buttons.js' | asset_url }}"></script>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}


  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>

    // Create cookie
    function createCookie(name, value, days) {
        var expires;
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            expires = "; expires="+date.toGMTString();
        }
        else {
            expires = "";
        }
        document.cookie = name+"="+value+expires+"; path=/";
    }

    // Read cookie
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1,c.length);
            }
            if (c.indexOf(nameEQ) === 0) {
                return c.substring(nameEQ.length,c.length);
            }
        }
        return null;
    }

    function loadNewsletter() {
      // only on mobile
      if (readCookie("newsletter")) {
        return;
      } else {
        showBannerIfHidden();
      }
    }

    var showModalIfHidden = function() {
      var modal = $('#emailModal');
      let modalClasses = modal.attr('class');
      // make sure this doesn't get called
      // while the modal already exists
      if (!modalClasses.includes('show')) {
         modal.modal();
      }
    }

    function showBannerIfHidden() {
      // if (window.location.href.split('/').length > 4) {
      //     return;
      // }
      let banner = $('#newsletterBanner');
      // if (!banner.is(":visible")) {
        // banner.animate({top: '-50'}, 500, function() {});
        banner.show();
        banner.css('top', '0px');
      // }
    }

    function hideBannerIfShown() {
      let banner = $('#newsletterBanner');

      // if (banner.is(":visible")) {
        // banner.animate({top: '0'}, 500, function() {});        
        banner.css('top', '-56px');
        banner.hide();
      // }
    }

    function closeBanner() {
      let banner = $('#newsletterBanner');
      banner.css('top', '-56px');
      banner.hide();
      createCookie("newsletter", "read", 2);
    }

    $('#closeBanner').on('touchstart', function(e) {
      e.preventDefault();
      closeBanner();
    });

    $('#newsletterSubmit').on('click touchstart', function(e) {
      e.preventDefault();
      createCookie("newsletter", "read", 999);
    })

    $(window).scroll(function() {
      if ($(document).scrollTop() > 200) {
        setTimeout(loadNewsletter(), 3000);
      } else if ($(document).scrollTop() < 300) {
        hideBannerIfShown();
      }
    })

    // OnScroll Handles
    // $(window).scroll(function() {
    //     // TODO put the modal release point to a reasonable spot on page
    //   // let modalRelease = 1000000000;
    //   //  if ($(document).scrollTop() > modalRelease) {
    //   //    setTimeout(showModalIfHidden, 3000);
    //   //  }
    //   if ($(document).scrollTop() > 200) {
    //     showBannerIfHidden();
    //   } else if ($(document).scrollTop() < 300) {
    //     hideBannerIfShown();
    //   }
    //  });

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };



  </script>

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}


  {{ content_for_header }}

</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  <!--THIS IS THE TOP BAR FOR NEWSLETTER! -->
  <div id="newsletterBanner" class="nav d-flex justify-content-center newsletter-banner">
    <form class="mr-auto nav-item d-flex form-inline justify-content-center" action="https://flyelyfe.us12.list-manage.com/subscribe/post?u=5340545d4a4c662056d0a4703&amp;id=3230a2b376" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <div class="nav form-group">
          <div class="nav-item">
            <img class="newsletter-banner-image" src="{{ 'gumbit.svg' | asset_url }}"/>
          </div>
          <div class="nav-item input-group input-group custom-overhead">
            <input type="text" id="mce-EMAIL" name="EMAIL" class="form-control custom-overhead-input" placeholder="Get Emails!" aria-label="" aria-describedby="sizing-addon2">&nbsp;
            <button id="newsletterSubmit" type="submit" action="https://flyelyfe.us12.list-manage.com/subscribe/post?u=5340545d4a4c662056d0a4703&amp;id=3230a2b376" class="btn btn-primary">Join</button>
          </div>
        </div>
    </form>
    <div class="p-3">
      <a href="javascript:closeBanner();" id="closeBanner"><i class="btb bt-times"></i></a>
    </div>
  </div>

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <main role="main" id="MainContent" class="container">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  <!-- Infinite Scroll -->
  <script src="{{ 'ajaxify.min.js' | asset_url }}" ></script>
  <!-- Initialize -->
  <script>
    $(document).ready(function(){
      ajaxify();
    });
  </script>
  <script>
    $("a.fancybox").fancybox({
      prevEffect	: 'none',
      nextEffect	: 'none',
      closeBtn		: false,
      arrows      : true
    });
  </script>


</body>
</html>
